<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>welcome dear <h1><%= username %></h1></p><br>
    <p>your password is  <h1><%= password %></h1></p><br>
    <p>thanks for visiting  our page... </p><br>
    <button><a href="http://localhost:6500/gotoform">back</a></button>
</body>
</html>